.card-scalable-img {
  scale: 1;
  transition: scale 0.3s ease;
}

.card:hover .card-scalable-img {
  scale: 1.2;
}

.card-button {
  position: relative;

  margin-left: -20px;
  padding: 7px 59px 7px 20px;

  border-radius: 50px;

  transition: all 0.3s ease;
}

.card-button:after {
  position: absolute;

  top: 50%;
  right: 20px;

  width: 22px;
  height: 15px;

  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;

  transform: translateY(-50%);

  content: "";
}

.card:hover .card-button {
  background-color: $green-400;
}

.card:active .card-button {
  background-color: $orange-200;
}

@media (max-width: 768px) {
  .card:hover .card-scalable-img {
    scale: unset;
  }

  .card:hover .card-button {
    background-color: unset;
  }

  .card:active .card-button {
    background-color: unset;
  }
}
