html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

a {
  display: block;
  
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}
