html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;

  color: $primary-color;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  line-height: 28px;
}

a {
  display: block;

  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;

  border: none;
  cursor: pointer;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  background-color: $main-background;
}

section {
  margin-bottom: 35px;
  padding-top: 100px;
}

.section-title {
  color: $second-color;
  font-weight: 700;
  font-size: 59px;
  line-height: 73px;
  text-align: center;
}
